@charset "utf-8";
h1,h2,body,ul,li,p,header,nav{
  margin:0;
  padding:0;
}
body{
  background-color: #333;
  overflow-x: hidden;
  font-family: 'Noto Sans JP','ヒラギノ角ゴ Pro W9','Hiragino Kaku Gothic Pro W9','Hiragino Kaku Gothic Pro W7','ヒラギノ角ゴ Pro','ヒラギノ角ゴ ProN','MS Gothic',sans-serif;
}
.game_wrap{
  height: 100vh;
  overflow: hidden;
}
a{
  display: inline-block;
  text-decoration: none;
}
.hide{
  display: none;
}
.load_finished{
  animation: loadfinish_anime 0.3s linear 0.5s forwards;
}
@keyframes loadfinish_anime{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.circle_finished{
  animation: circlefinish_anime 0.3s linear 0.3s forwards;
}
@keyframes circlefinish_anime{
  0%{
    transform: translate(-50%,-50%) rotate(0deg) scale(1,1);
  }
  30%{
    transform: translate(-50%,-50%) rotate(-120deg) scale(1.6,1.6);
  }
  100%{
    transform: translate(-50%,-50%) rotate(-370deg) scale(0,0);
  }
}
.spin_finished{
  transition: opacity 0.7s 0s;
  opacity: 0;
}


.HKimg{
  max-width: 800px;
  max-height: 570px;
  width: 100vw;
  height: 100vh;
  min-width: 750px;
  min-height: 530px;
  object-fit: contain;
  overflow: hidden;
  position: relative;
}
.filter_left{
  width: 100vw;
  height: 100vh;
  position: relative;
  top: -100vh;
  left: 800px;
  font-size: 20px;
  color: #EEF;
  background-color: #222;
  z-index: 999;
}
.filter_left h2{
  padding: 5px 0 5px 10px;
  font-size: 26px;
  font-family: 'Hiragino Kaku Gothic Pro W7','ヒラギノ角ゴ Pro','ヒラギノ角ゴ ProN','Noto Sans JP','ヒラギノ角ゴ Pro W9','Hiragino Kaku Gothic Pro W9','MS Gothic',sans-serif;
  
}
.filter_left p{
  margin: 7px 0 0 20px;
  line-height: 1.4em;
  background-color: #222;
}
.QA_Question{
  width: 22px;
  height: 22px;
  transform: translateY(-3px);
  color: #DDD;
  display: inline-block;
  text-align: center;
  line-height: 1.2em;
  font-size: 16px;
  font-weight: bold;
  background-color: #039;
  border-radius: 25%;
}
.QA_Answer{
  width: 22px;
  height: 22px;
  transform: translateY(-3px);
  color: #DDD;
  display: inline-block;
  text-align: center;
  line-height: 1.2em;
  font-size: 16px;
  font-weight: bold;
  background-color: #A00;
  border-radius: 25%;
}
.filter_below{
  position: relative;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  z-index: 998;
}
.def{
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 800px;
  max-height: 570px;
  min-width: 750px;
  min-height: 530px;
  position: relative; 
}
.mask{
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 800px;
  max-height: 570px;
  min-width: 750px;
  min-height: 530px;
  position: relative; 
  opacity: .2;
}

.EF1{
  animation:ef_1 0.25s 0.1s ease 1 forwards;
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 800px;
  max-height: 570px;
  min-width: 750px;
  min-height: 530px;
  transform: rotate(0.0001deg);
  outline: 1px solid transparent;
  transform:scale(3,3);
}
@keyframes ef_1 {
  0% {
      transform:scale(3,3);
  }
  100% {
      transform:scale(1,1);
  }
}

.EF2{
  position: absolute;
  bottom: -130px;
  left: 0;
  max-width: 800px;
  animation: ef_2 2.8s linear 1 forwards;
  transform: rotate(0.0001deg);
  outline: 1px solid transparent;
}
@keyframes ef_2 {
  0% {
    transform:scale(0.4,0.4);
    bottom: -130px;
  }
  10%{
    transform:scale(0.8,0.8);
    bottom: -44px;
  }
  55%{
    transform:scale(0.9,0.9);
    bottom: -22px;
  }
  100% {
    transform:scale(1,1);
    bottom: 0;
  }
}


.EF3{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 800px;
  z-index: 1;
  opacity: 0;
 animation: ef_3 2.5s 0.3s linear 1 forwards;
}
@keyframes ef_3 {
  0% {
    opacity: 0;
  }
  13% {
    opacity: .7;
  }
  92% {
    opacity: .7;
  }
  97% {
    opacity: .4;
  }
  100% {
    opacity: 0;
  }
}

.EF4{
  display: block;
  position: fixed;
  top: -100px;
  left: -6000px;
  width: 6000px;
  object-fit: cover;
  transform:translate3d(0,0,0);
  outline: 1px solid transparent;
  animation: ef_4 2.5s 0.3s linear 1 forwards;
}
@keyframes ef_4 {
  0% {
    left:-6000px;
  }
  20%{
    left:-2900px;
  }
  80%{
    left:-2200px;
  }
  100% {
    left:800px;
  }
}
.EF5{
  display: block;
  max-width: 800px;
  position: absolute;
  top: 0px;
  z-index: 2;
  opacity: 0;
  animation: ef_5 2.5s 0.3s linear 1 forwards;
}

@keyframes ef_5 {
  0% {
    transform:scale(7,7);
    opacity: .1;
  }
  10%{
    transform:scale(4.1,4.1);
    opacity: .3;
  }
  15%{
    transform:scale(1.1,1.1);
    opacity: 1;
  }
  80%{
    transform:scale(1,1);
    opacity: 1;
  }
  90% {
    transform:scale(0.3,0.3);
    opacity: .3;
  }
  91% {
    display: none;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.play{
  padding :100px;
  
  position: absolute;
  left: 397px;
  top: 265px;
  margin-left: -100px;
  margin-top: -100px;
  border-radius: 500px;

  overflow: hidden;
  background-image:url("./images/play_btn.png");
  background-size: cover;

  transition: background 0.2s;
}
.play:hover{
  background-image:url("./images/play_btn2.png");
  transition: background 0.2s;
}

.button_box{
  position: absolute;
  top: 130px;
  left: 250px;
  width: 500px;
  height: 100px;
}

.jan{
  border-color: #1cb8ff;
  color: #1cb8ff;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  height: 50px;
  width: 300px;
  margin-top: 40px;
  border: solid 2px;
}
.jan:hover{
  background-color: #ddf6ff;
}
.jan:focus{
  background-color: #3377ff;
  color: #fff;
  outline: none;
}
.choose{
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 800px;
  max-height: 570px;
  min-width: 750px;
  min-height: 530px;
  position: relative;
  opacity: .4;
}

.header{
  width: 100vw;
  min-width: 900px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  color: #FFF;
  background-color: #000;
}
.header nav{
  margin: -60px 70px 0 0;
  font-family: 'Tahoma','Trebuchet','Verdana','Noto Sans JP','ヒラギノ角ゴ ProN W6','MS Gothic',sans-serif;
  display: flex;
  justify-content: center;
}
.header h1{
  height: 60px;
}
.header h1 a{
  height: 60px;
}
.header h1 img{
  height: 60px;
}
.header ul,.header li{
  height: 60px;
  display: inline-block;
  list-style: none;
}
.header nav a{
  margin: 10px 20px;
  padding: 10px 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  transition: color 0.3s;
}
.header nav a:hover{
  color: #34D; 
  transition: color 0.3s;
}
.SNS_box{
  width: 140px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 10px;
}
.SNS{
  width: 40px;
  height: 40px;
  margin: 10px 10px;
  color: rgba(0, 0, 0, 0);
  background-size: contain;
  transition: background-image 0.3s;
}
.SNS_t{
  background-image: url("./images/icon_twitter.png");
  transition: background-image 0.3s;
}
.SNS_f{
  background-image: url("./images/icon_facebook.png");
  transition: background-image 0.3s;
}
.SNS_t:hover{
  background-image: url("./images/icon_twitter2.png");
  transition: background-image 0.3s;
}
.SNS_f:hover{
  background-image: url("./images/icon_facebook2.png");
  transition: background-image 0.3s;
}
.title{
  clear:both;
  width: 100vw;
  min-width: 900px;
  height: 450px;
  justify-content: center;
  background-color: #BBB;
  background-image: url("./images/title.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.janken_logo{
  width: 100vw;
  min-width: 900px;
  height:120px;
  justify-content: center;
  background-color: #000;
  background-image: url("./images/jankenlogo.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}
.button_area{
  min-width: 870px;
  height: 80px;
  padding: 15px;
  background-color: rgb(13, 174, 238);
  background-position: center;
}

.button_area button{
  display: block;
  width: 398px;
  height: 78px;
  margin: 0 auto;
  border: 3px solid #FFF;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Noto Sans JP','ヒラギノ角ゴ Pro W9','Hiragino Kaku Gothic Pro W9','Hiragino Kaku Gothic Pro W7','ヒラギノ角ゴ Pro','ヒラギノ角ゴ ProN','MS Gothic',sans-serif;
  font-size: 36px;
  font-weight: 900;
  font-style: italic;
  color: #FFF;
  cursor: pointer;
  transition: background-color 0.2s;
}
button:focus{
  outline: none;
}
.button_area button:hover{
  background-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.2s;
}
.end_box{
  width: 35%;
  height: 30%;
  position: absolute;
  top: 40%;
  left: 30%;
}
.redo{
  width: 100px;
  height: 100px;
  margin-right: 50px;
  padding-top: 70px;
  border: none;
  position: absolute;
  top: 0;
  color: rgba(0,0,0,0);
  font-family: 'ヒラギノ角ゴ Pro W9','Hiragino Kaku Gothic Pro W9','Hiragino Kaku Gothic Pro W7','ヒラギノ角ゴ Pro','ヒラギノ角ゴ ProN','Noto Sans JP','MS Gothic',sans-serif;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("./images/icon_redo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(100%);
  transition: height 0.3s, filter 0.3s, padding 0.3s, color 0.3s ;
}
.redo:hover{
  filter: invert(0%);
  height: 120px;
  padding-top: 100px;
  color: #FFF;
  transition: height 0.3s, filter 0.3s, padding 0.3s, color 0.3s;
}
.close{
  width: 100px;
  height: 100px;
  padding-top: 70px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(255,255,255,0);
  font-family: 'ヒラギノ角ゴ Pro W9','Hiragino Kaku Gothic Pro W9','Hiragino Kaku Gothic Pro W7','ヒラギノ角ゴ Pro','ヒラギノ角ゴ ProN','Noto Sans JP','MS Gothic',sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("./images/icon_close.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: height 0.3s, padding 0.3s, filter 0.3s, color 0.3s ;
}
.close:hover{
  height: 120px;
  padding-top: 100px;
  filter: invert(100%);
  color: #000;
  transition: height 0.3s, padding 0.3s, filter 0.3s, color 0.3s;
}
.help_area{
  width: 100%;
  min-width: 900px;
  height: 435px;
  background-position: center;
  background-color: #000;
  background-image: url("./images/HKintro.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.load_wrap{
  position: fixed;
  top:0;
  left: 0;
  width:100vw;
  height: 100vh;
  background-color: #000;
  font-family: 'Share Tech Mono', monospace;
  z-index: 99;
}
.load_circle{
  position: absolute;
  left: 50%;
  top: 50%;
  transform : translate(-50%,-50%);
  width: 26vh;
  height: 18vh;
  padding: 8vh 0 0;
  border-radius: 50%;
  background-color:#0AF;
  color: #FFF;
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  z-index: 8;
}
.load_circle span{
  font-size: 10vh;
} 
.load_text{
  position: absolute;
  left: 50%;
  top: 69vh;
  transform : translate(-50%,-50%);
  font-size: 4vh;
  color: #FFF;
}
.load_spin_box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform : translate(-50%,-50%);
  width: 50vh;
  height: 50vh;
  animation: loadspinbox_anime 1.5s 0.3s linear infinite;
}
.load_spin{
  position: absolute;
  left: 50%;
  top: 50%;
  transform : translate(-50%,-50%);
  width: 25.5vh;
  height: 25.5vh;
  border: 10px rgba(255, 255, 255, 0) solid;
  border-radius: 50%;
  animation: loadspin_anime 2s 0.3s linear infinite;
}
.load_mask{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25.5vh;
  height: 25.5vh;
  border: 2vh rgba(255, 255, 255, 0) solid;
  border-bottom: 2vh rgba(0, 0, 0, 1) solid;
  border-radius: 50%;
  z-index: 6;
  transform: translate(-50%,-50%) rotate(-45deg);
  animation: loadmask_anime 2s 0.3s linear infinite;
}

.load_mask2{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25.5vh;
  height: 25.5vh;
  border: 2vh rgba(255, 255, 255, 0) solid;
  border-left: 2vh rgba(0, 0, 0, 1) solid;
  border-radius: 50%;
  z-index: 7;
  transform: translate(-50%,-50%) rotate(-45deg);
  animation: loadmask2_anime 2s 0.3s linear infinite;
}

@keyframes loadspin_anime{
  0%{
    border: 2vh rgba(255, 255, 255, 0) solid;
    border-bottom: 2vh rgba(255, 255, 255, 1) solid;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  12.49%{
    border-right: 2vh rgba(255, 255, 255, 0) solid;
  }
  12.5%{
    border-right: 2vh rgba(255, 255, 255, 1) solid;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  24.99%{
    border-top: 2vh rgba(255, 255, 255, 0) solid;
  }
  25%{  
    border-top: 2vh rgba(255, 255, 255, 1) solid;
    transform: translate(-50%,-50%) rotate(135deg);
  }
  37.49%{
    border-left: 2vh rgba(255, 255, 255, 0) solid;
  }
  37.5%{
    border-left: 2vh rgba(255, 255, 255, 1) solid;
    transform: translate(-50%,-50%) rotate(225deg);
  }
  50%{
    border: 2vh rgba(255, 255, 255, 1) solid;
    transform: translate(-50%,-50%) rotate(315deg);
  }
  50.01%{
    border-bottom: 2vh rgba(0 ,0 ,0 ,1) solid;
    transform: translate(-50%,-50%) rotate(315deg);
  }
  62.49%{
    border-right: 2vh rgba(255, 255, 255, 1) solid;
  }
  62.5%{
    border-right: 2vh rgba(0 ,0 ,0 ,1) solid;
    transform: translate(-50%,-50%) rotate(405deg);
  }
  74.99%{
    border-top: 2vh rgba(255, 255, 255, 1) solid;
  }
  75%{  
    border-top: 2vh rgba(0 ,0 ,0 ,1) solid;
    transform: translate(-50%,-50%) rotate(495deg);
  }
  87.49%{
    border-left: 2vh rgba(255, 255, 255, 1) solid;
  }
  87.5%{
    border-left: 2vh rgba(0 ,0 ,0 ,1) solid;
    transform: translate(-50%,-50%) rotate(585deg);
  }
  100%{
    border: 2vh rgba(0 ,0 ,0 ,1) solid;
    transform: translate(-50%,-50%) rotate(675deg);
  }
}

@keyframes loadmask_anime{
  0%{
    transform: translate(-50%,-50%) rotate(-45deg);
    border-bottom: 2.2vh rgba(0 ,0 ,0 ,1) solid;
  }
  37.5%{
    transform: translate(-50%,-50%) rotate(-45deg);
    border-bottom: 2.2vh rgba(0 ,0 ,0 ,1) solid
  }
  50%{
    transform: translate(-50%,-50%) rotate(45deg);
    border-bottom: 2vh rgba(0 ,0 ,0 ,1) solid
  }
  50.01%{
    transform: translate(-50%,-50%) rotate(-45deg);
    border-bottom: 2vh rgba(255, 255, 255, 1) solid;
  }
  87.5%{
    transform: translate(-50%,-50%) rotate(-45deg);
    border-bottom: 2vh rgba(255, 255, 255, 1) solid;
  }
  100%{
    transform: translate(-50%,-50%) rotate(45deg);
    border-bottom: 2vh rgba(255, 255, 255, 1) solid;
  }
}
@keyframes loadmask2_anime{
  0%{
    border-left: 2vh rgba(255, 255, 255, 0) solid;
  }
  12.5%{
    border-left: 2vh rgba(255, 255, 255, 0) solid;
  }
  12.51%{
    border-left: 2vh rgba(255, 255, 255, 1) solid;
  }
  50%{
  border-left: 2vh rgba(255, 255, 255, 1) solid;
  }
  50.01%{
    border-left: 2vh rgba(255, 255, 255, 0) solid;
  }
  62.5%{
    border-left: 2vh rgba(255, 255, 255, 0) solid;
  }
  62.51%{
    border-left: 2vh rgba(0, 0, 0, 1) solid;
  }
  100%{
  border-left: 2vh rgba(0, 0, 0, 1) solid;
  }
}
@keyframes loadspinbox_anime{
  0%{
    transform: translate(-50%,-50%) rotate(-180deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(180deg);
  }
}